.navbar ul li{
    display: inline-block;
    border: 2px solid rgb(0, 195, 255);
    margin: 5px 15px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 2s;

    
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.navbar ul li:hover{
    background-color: rgb(20, 204, 204);
    text-decoration: underline;
}